<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anabolic Mass Gainer</title>

    <link rel="stylesheet" href="../styles.css">


</head>

<body class="products">
    <header>
        <div onclick="()=>{
          window.location.href='../index.html'
        }" class="banner"></div>
    </header>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="../index.html#home" onclick="handleIndex()" class="active">Home</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="product">
            <div class="product-info">
                <h1>Anabolic Mass Gainer</h1>
                <p class="price">1,899.00 rs/-</p>
                <p class="availability">In Stock</p>
                <p class="description">Are you struggling to pack on the pounds and build muscle mass? Look no further
                    than our Anabolic Mass Gainer! Specially formulated with a powerful blend of high-calorie
                    ingredients, proteins, and essential nutrients, our mass gainer is designed to support your muscle
                    growth and weight gain goals effectively.</p>
                <h2>Key Features:</h2>
                <ul class="features">
                    <li><strong>High-Calorie Formula:</strong> Each serving of our Anabolic Mass Gainer is packed with a
                        substantial number of calories, making it ideal for individuals seeking to increase their daily
                        calorie intake for muscle growth and weight gain.</li>
                    <li><strong>Protein Blend:</strong> Our formula contains a premium blend of proteins, including whey
                        protein concentrate, whey protein isolate, and casein protein, providing your muscles with the
                        necessary amino acids for repair and recovery.</li>
                    <li><strong>Complex Carbohydrates:</strong> We incorporate complex carbohydrates sourced from
                        maltodextrin and other sources to ensure sustained energy during workouts and replenish glycogen
                        stores post-exercise.</li>
                    <li><strong>Essential Nutrients:</strong> Fortified with essential vitamins and minerals such as
                        vitamins A, C, D, B-complex vitamins, calcium, and magnesium, our mass gainer promotes overall
                        health and well-being.</li>
                    <li><strong>Customizable Serving Sizes:</strong> Tailor your serving sizes to meet your specific
                        calorie and macronutrient requirements, offering flexibility to align with your fitness goals
                        and dietary needs.</li>
                    <li><strong>Post-Workout Recovery:</strong> The perfect combination of protein and carbohydrates
                        aids in post-workout recovery by facilitating muscle repair and growth, ensuring you're ready
                        for your next training session.</li>
                    <li><strong>Weight Gain Support:</strong> Ideal for individuals struggling to gain weight, our
                        Anabolic Mass Gainer provides the extra calories and nutrients needed to overcome barriers to
                        weight gain, such as a fast metabolism.</li>
                    <li><strong>Variety of Flavors:</strong> Available in a range of delicious flavors, finding one that
                        suits your taste preferences has never been easier!</li>
                </ul>
                <strong>

                    <p class="additional-info">**Usage Instructions:**<br>
                </strong>
                For best results, mix one serving of Anabolic Mass Gainer with water or milk, and consume post-workout
                or as recommended by your healthcare professional. Adjust serving sizes based on individual nutritional
                needs and fitness goals.<br>
                <strong>

                    **Safety Information:**<br>
                </strong>
                Before incorporating any high-calorie supplement into your diet, it's essential to consult with a
                healthcare or nutrition professional to ensure it aligns with your health and fitness goals.<br>
                <strong>

                    **Disclaimer:**<br>
                </strong>
                These statements have not been evaluated by the Food and Drug Administration. This product is not
                intended to diagnose, treat, cure, or prevent any disease.</p>
            </div>
            <img src="/images/anabolic mass gainer.jpg" alt="Anabolic Mass Gainer">
            
        </div>
        <button id="addToCartBtn" onclick="redirectToOrderForm1()">Add to Cart</button>
    </div>


    <script src="../script.js"></script>
</body>

</html>